nav {
    background-color: #333;
    color: white;
    padding: 10px;
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 1000; 
    width: 100%;
    height: 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    display:inline-table;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
body {
    background-color: #afafaf; 
    margin: 0; 
    padding: 0;
}

th,td{
    padding: 5px;
    border-style: none;
}
#Encabezado{
    border-collapse: separate;
    border-spacing: 30px;
    border-style: none;
    background-color: #969696;
}

.seccion{
    display: flex;
    justify-content: space-between;
    width: 80%; 
    margin: 0 auto; 
    margin-top: 30px;
}
.seccion p{
    font-size:x-large;
}
.izq{

    text-align: justify;
    width: 60%;
    padding-left: 30px;
    
}
.der{

    text-align: right;
    align-self: center;
    width: 40%;
}
#Inicio{
    
    margin-top: 80px;
}
.Img{
    width:80%;
    transition: transform 0.3s ease;
}
.Img:hover{
    transform: scale(1.1);
}
.tabla{
    display: flex;
    justify-content: space-between;
    width: 80%; 
    margin: 0 auto; 
    margin-top: 30px;
}
.tabla .col{
    width:25%;
    text-align: justify;
    padding-top: 0px;
    background-color: #333;
    color: #bbb;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 10px;
    transition: transform 0.2s ease;
}
.tabla .col:hover{
    transform: scale(1.1);  
}
.tabla .col:hover  .titPaq{
    font-weight:bolder;
    color:#eee;
}
.tabla p{
    padding: 10px;
    font-size: large;
}
.tabla .titPaq{
    background-color: #111;
    width: 100%;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin:0px;
    text-align: center;
}