body{   
    background-color: aqua;
}
 
    

head1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: end;
}

div.Datos{
    text-align: center;
    padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
            background-color: #8b0909;
}

div.lista{
    margin-top: 100px;
    margin-left: 50px;
}

.contendor-imagenes{
    display: flex inline;
    justify-content: center;
}

  .idiomas{
    text-align: center;
    padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
            background-color: #30c909;
  }
  button {
    background-color: rgb(47, 79, 79);
    color: antiquewhite;
    font-size: 14pt;
  }
  