h1,h2,h3{
    text-align: center;
    color:darkcyan
}
h1{
    background-color: darkblue;
    border-radius: 12px;
    padding-top: 0px;
}
body{
    background-color:darkslategrey;
}
div{
    padding: 2%;
}
p{
    text-align: justify;
    color:aliceblue;
    font-size: 14px;
}
ul{
    color: aliceblue;
    font-size: 14px;
}
button
{
    background-color: teal;
    color: aliceblue;
    border-radius: 10px;
    border:none;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    cursor:pointer;
}
.Formulario{
    width:50%;
}
#nombre{
    width: 50%;
}