:root{
    --fondo:#477979;
    --encabezados:#00ffff;
    --texto:#F0F8FF;
    --fondoBtn:#006060;
    --fondoBtnSel:#1B3535;
    --fondoForm:#112626;
}
h1,h2,h3{
    text-align: center;
    color:cyan;
}

body{
    background-color:var(--fondo);
}
p{
    text-align: justify;
    color:var(--texto);
    font-size: 24px;
}
ul{
    color:var(--texto);
    font-size: 24px;
}
.Boton
{
    background-color: var(--fondoBtn);
    color: var(--texto);
    border-radius: 10px;
    border:none;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    cursor:pointer;
    margin-right: 100px;
}
.Boton:hover{
    background-color:var(--fondoBtnSel);
}
.Formulario{
    width:100%;
    display: flex;
    align-items: left;

}
.lb_form{
    color:var(--texto);
    font-size: large;


}
#formulario-datos
{
    background-color: var(--fondoForm);
    padding: 10px 20px;
    border-radius: 10px;
    width:50%;

}
header{
    background-color: var(--fondoForm);
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;

}
.nombre:hover{
    color: var(--fondoBtn);
}
.seccion{
    margin:0px;
    padding: 10%;
    padding-top: 0px;
    padding-bottom: 20px;
}
.div-form{
    margin-top: 10px;
    margin-bottom: 10px;
}
.seccion a:link{
    color:#555;
}
.seccion a:visited{
    color:#333;
}
.seccion a:hover{
    color:#075b83;
    font-weight: bold;
}
.seccion a:active{
    color:#0fa6fd;
}
nav {
    background-color: #333;
    color: white;
    padding: 10px;
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 1000; 
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    display:inline-table;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 10px;
    margin-right: 10px;
}

nav li a:hover {
    background-color: #111;
    border-radius: 10px;
    font-weight: bolder;

}
#primero{
    margin-top: 80px;
}